# Project
config.yml
!system/*
!personas/**
system.d/*
personas.d/*

# Virtual environment
.venv/
venv/

# IDE
.vscode/
.idea/

# Environment
.env
.env.*

# Docker
docker-compose.override.yml

# Python
__pycache__/
*.py[cod]
*$py.class
pyproject.toml.lock

# Redis
redis_data/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Git
!**/.gitkeep
